{% extends 'core.html.twig' %}

{% block title %}Connexion!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnecter</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal" style=" text-align: center;"><strong>Se Connecter</strong> </h1>
    <label for="inputUsername" style=" margin-top: 60px; margin-bottom: 10px; ">Nom Utilisateur</label>
    <input type="text" value="{{ last_username }}" name="_username" id="inputUsername" class="form-control" style=" margin-top: 10px; margin-bottom: 10px; " required autofocus>
    <label for="inputPassword" style=" margin-top: 20px; margin-bottom: 20px; ">Mot de passe</label>
    <input type="password" name="_password" id="inputPassword" class="form-control" style=" margin-top: 10px; margin-bottom: 50px; " required>

    <input type="hidden" name="go_to" value="{{ path('accueil') }}"/>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-lg btn-primary" type="submit" style="margin-right: 50px;">
        Se connecter
    </button>
    <!-- to modal -->
    <button class="btn btn-lg btn-danger" onclick="patient_ajouter_()" type="button">
        Créer un compte
    </button>
</form>
<div  class="modal fade bd-example-modal-lg" id="patient_ajouter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div id="patient_a" class="modal-content"></div>
    </div>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="{{ asset('assets/js/_.js') }}"></script>

{% endblock %}
