{% extends 'base.html.twig' %}

{% block title %}Patient index{% endblock %}

{% block body %}
<div class="card card-custom">
    <div class="card-header">
        <h3 class="card-title">
            Liste Patient
        </h3>
    </div>
    <div class="card-body">
        <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Cin</th>
                <th>Tel</th>
                <th>Fixe</th>
                <th>Email</th>
                <th>Ville</th>
                <th>Pays</th>
                <th>Region</th>
                <th>CodePostal</th>
                <th>Id</th>
                <th>Cnss</th>
                <th>Cnrps</th>
                <th>Actions &emsp;</th>
            </tr>
        </thead>
        <tbody>
        {% for patient in patients %}
            <tr>
                <td>{{ patient.nom }}</td>
                <td>{{ patient.prenom }}</td>
                <td>{{ patient.cin }}</td>
                <td>{{ patient.tel }}</td>
                <td>{{ patient.fixe }}</td>
                <td>{{ patient.email }}</td>
                <td>{{ patient.ville }}</td>
                <td>{{ patient.pays }}</td>
                <td>{{ patient.region }}</td>
                <td>{{ patient.codePostal }}</td>
                <td>{{ patient.id }}</td>
                <td>{{ patient.cnss }}</td>
                <td>{{ patient.cnrps }}</td>
                <td>
                    <a type="button" class="btn btn-sm btn-success" href="{{ path('patient_show', {'id': patient.id}) }}">Afficher</a>
                    <a type="button" class="btn btn-sm btn-warning" href="{{ path('patient_edit', {'id': patient.id}) }}">Modifier</a>
                    <a type="button" class="btn btn-sm btn-warning" href="{{ path('patient_delete', {'id': patient.id}) }}">Supprimer</a>
                    <a type="button" class="btn btn-sm btn-instagram" href="{{ path('fiche_show_med', {'id': patient.id, 'idMedecin': 1}) }}">Fiche</a>
                    <a type="button" class="btn btn-sm btn-facebook" href="{{ path('rendez_vous_patient', {'idPatient': patient.id, 'idMedecin' : app.user.idPersonne}) }}">RV</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <!--
    <div class="card-footer">
        <div class="row">
            <div class="col-sm-11"></div>
            <div class="col-sm-1">
                <a type="button" class="btn btn-bg btn-facebook" href="{{ path('patient_new') }}">Ajouter</a>
            </div>
        </div>
    </div>
    -->
</div>
{% endblock %}
