{% extends is_granted("ROLE_MEDECIN")
    ? 'base.html.twig'
    : 'base2.html.twig'
%}

{% block title %}Liste Rendez-Vous {% endblock %}

{% block body %}
<div class="card card-custom">
    <div class="card-header">
        <h3 class="card-title">
            Liste rendez-vous
        </h3>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                <th>#</th>
                <th>Date</th>
                <th>Heure</th>
{#                <td>patient</td>#}
            </tr>
            </thead>
            <tbody>
        {% for rendez_vou in rendez_vouses %}
            <tr>
              <td>{{ loop.index }}</td>
                <td>{{ rendez_vou.date ? rendez_vou.date.date|date('Y-m-d') : '' }}</td>
                <td>{{ rendez_vou.heure ? rendez_vou.heure|date('H:i:s') : '' }}</td>

{#                <td><a href="{{ path('patient_show', {'id': rendez_vou.fiche.patient.id }) }}">#}
{#                        {{ rendez_vou.fiche.patient.nom }} {{ rendez_vou.fiche.patient.prenom }}</a></td>#}

            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        {% include "rendez-vous-modal.html.twig" %}
        <a type="button" class="btn btn-sm btn-primary font-weight-bolder text-uppercase"
           onclick="rv_({{ app.user.idPersonne }}, {{ app.user ? app.user.roles | json_encode : 0 }}, {{ app.user.idPersonne }})">
            Ajouter Rendez-vous
        </a>
{#    <a class="btn btn-primary mr-2" href="{{ path('rendez_vous_new', {'idPatient': idPatient}) }}">Ajouter</a>#}
    </div>
</div>
    <script src="{{ asset('assets/js/_.js') }}"></script>

{% endblock %}
