{% extends is_granted("ROLE_MEDECIN")
    ? 'base.html.twig'
    : 'base2.html.twig'
%}

{% block title %}Liste Rendez-Vous {% endblock %}

{% block body %}
<div class="card card-custom">
    <div class="card-header">
        <h3 class="card-title">
            Liste rendez-vous
        </h3>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                <th>#</th>
                <th>Date</th>
                <th>Date de création</th>
                <td>patient</td>
            </tr>
            </thead>
            <tbody>
        {% for rendez_vou in rendez_vouses %}
            <tr>
              <td>{{ rendez_vou.id }}</td>
                <td>{{ rendez_vou.date ? rendez_vou.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ rendez_vou.createdAt ? rendez_vou.createdAt|date('Y-m-d H:i:s') : '' }}</td>

                <td><a href="{{ path('patient_show', {'id': rendez_vou.fiche.patient.id }) }}">
                        {{ rendez_vou.fiche.patient.nom }} {{ rendez_vou.fiche.patient.prenom }}</a></td>

            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>

    <a class="btn btn-primary mr-2" href="{{ path('rendez_vous_new', {'idPatient': idPatient}) }}">Ajouter</a>
    </div>
</div>
{% endblock %}
